# Shared
NEXT_PUBLIC_CONVEX_URL=
HOST_JWT_SECRET=

# Web / NextAuth / Twitch
NEXT_PUBLIC_REALTIME_URL=http://localhost:3001
AUTH_SECRET=
AUTH_TWITCH_ID=
AUTH_TWITCH_SECRET=

# Realtime
PORT=3001
CORS_ORIGIN=http://localhost:3000
